.footer {
  padding: 0 4rem;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-grey-color);
}

.footer .footer__content {
  padding: 4rem 3.5rem;
}

.footer .footer__title {
  font-weight: var(--bold-weight);
  margin-bottom: 1.5rem;
}

.footer .footer__column {
  margin-bottom: 1rem;
}

.footer .footer__column:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0;
  }

  .footer .footer__container {
    padding: 2rem;
  }

  .footer .footer__content {
    padding: 1rem 3rem;
    margin-bottom: 2rem;
  }

  .footer .footer__title {
    margin-bottom: 1rem;
  }
}
