.footer {
  padding: 0 3rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: 3rem 4.5rem;
  background-color: var(--light-grey-color);
}

.footer .footer__title {
  font-weight: var(--bold-weight);
  margin-bottom: 1.5rem;
}

.footer .footer__column {
  margin-bottom: 1rem;
}

.footer .footer__column:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0;
  }

  .footer .footer__container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 2rem 0;
  }

  .footer .footer__content {
    padding: 1rem 3rem;
  }

  .footer .footer__title {
    margin-bottom: 1rem;
  }
}
