.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
}

.header__logo .logo {
  width: 4rem;
  cursor: pointer;
}

.header .menu {
  display: flex;
}

.header .menu__item {
  display: block;
  padding: 2rem;
  border-top: 2px solid transparent;
}

.header .menu__item:hover {
  border-top: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.header .memu__item--focused {
  border-top: 2px solid var(--primary-color);
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .header__inner {
    flex-direction: column;
    align-items: stretch;
    margin: 0;
  }

  .header .header__logo {
    padding: 2rem;
    text-align: center;
  }

  .header .menu__item {
    width: 50%;
    text-align: center;
  }

  .header .menu__item {
    border-top: none;
    border-bottom: 2px solid transparent;
  }

  .header .menu__item:hover {
    border-top: none;
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
  }

  .header .memu__item--focused {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
  }
}


@media screen and (min-width: 1400px) {
  header,
  main,
  footer {
    display: none;
  }
}
