@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@import "reset.css";

/* Header */
@import "header.css";

/* Main */
@import "main/search.css";
@import "main/offers.css";
@import "main/activity.css";

/* Footer */
@import "footer.css";

:root {
  /* color */
  --black-color: #000000;
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --grey-color: #d9d9d9;
  --light-grey-color: #f2f2f2;
  --white--color: #ffffff;

  /* font size */
  --xxsmall-size: 12px;
  --xsmall-size: 13px;
  --small-size: 14px;
  --medium-size: 16px;
  --large-size: 22px;

  /* font weight */
  --regular-weight: 400;
  --bold-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
}