.main__inner {
  padding: 1.5rem 3rem;
}

.main__inner .search {
  display: flex;
  flex-direction: column;
}

.main__inner .search__info {
  margin-bottom: 1rem;
}

.main__inner .search__title {
  font-size: var(--large-size);
  font-weight: var(--bold-weight);
  margin-bottom: 0.5rem;
}

.main__inner .search__description {
  margin-bottom: 1.5rem;
}

.main__inner .search-form {
  display: flex;
  margin-bottom: 2rem;
}

.main__inner .search-form__icon {
  padding: 1rem 1.3rem;
  background-color: var(--light-grey-color);
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.main__inner .search-form__input {
  border-top: 1px solid var(--light-grey-color);
  border-bottom: 1px solid var(--light-grey-color);
  padding: 0 1.5rem;
  min-width: 0;
}

.main__inner .search-form__input::placeholder {
  color: var(--black-color);
  font-size: var(--medium-size);
  font-weight: var(--bold-weight);
}

.main__inner .search-form__btn {
  padding: 0 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--primary-color);
  color: var(--white--color);
  font-size: var(--medium-size);
  font-weight: var(--bold-weight);
  cursor: pointer;
}

.main__inner .search-form__btn-icon {
  display: none;
}

.main__inner .filter {
  display: flex;
  align-items: center;
  gap: 1rem 2rem;
  margin-bottom: 2rem;
}

.main__inner .filter__title {
  font-weight: var(--bold-weight);
}

.main__inner .filter__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main__inner .filter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 1rem;
  border: 2px solid var(--grey-color);
  border-radius: 2rem;
  cursor: pointer;
}

.main__inner .filter__btn:hover {
  background-color: var(--secondary-color);
  transition: all 0.1s ease-in;
}

.main__inner .filter__icon {
  color: var(--primary-color);
  font-size: var(--large-size);
}

.main__inner .filter__description {
  font-weight: var(--bold-weight);
}

.main__inner .search__infobar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.main__inner .search__icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  color: var(--primary-color);
  border: 1px solid var(--grey-color);
  border-radius: 50%;
}

.main__inner .search__description {
  margin: auto 0;
}

@media screen and (max-width: 991px) {
  .main__inner {
    padding: 1.5rem 4.5rem;
  }

  .main__inner .search__title {
    margin-bottom: 0.7rem;
  }

  .main__inner .filter__description {
    font-size: var(--small-size);
  }

  .main__inner .filter {
    gap: 0.5rem;
  }

  .main__inner .filter__container {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .main__inner {
    padding: 0;
  }

  .main__inner .search {
    padding: 2rem 1.5rem;
  }

  .main__inner .search-form__input {
    flex: 1;
  }

  .main__inner .search-form__btn-text {
    display: none;
  }

  .main__inner .search-form__btn-icon {
    display: block;
  }

  .main__inner .filter {
    flex-direction: column;
    align-items: stretch;
  }

  .main__inner .filter__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main__inner .filter__btn {
    flex: 1;
  }

  .main__inner .search__infobar {
    align-items: flex-start;
    margin: 0;
  }
}
